<form method = "POST" action = "/recipes" >
    <label for="name"> Your Recipe Name</label>
    <input type="text" name = "name"><br>
    <label for="ingredients"> Your Recipe's Ingredients(please separate with a comma and a space)</label>
    <input type="text" name = "ingredients"><br>
    <label for="cook_time"> Your Recipe Cook time</label>
    <input type="text" name = "cook_time"><br>
    <input type = "submit" value = "Submit">
</form>